/* GENERIC STYLE */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
/*  MENU  */

.menu {
    width: 15%;
    background-color: #f1f1f1;
    padding: 10px 20px 0px;
}

.menu li {
    font-size: 14pt;
    list-style-type: none;
    padding: 10px;
}

.menu li.marca {
    background-color: #b9b8b8;
}

.menu li.marca a {
    color: rgb(230, 31, 31);;
}

.menu a {
    color: #747474;
    text-decoration: none;
    transition: 1s ease;
}

.menu a:hover {
    color: rgb(230, 31, 31);
    text-decoration: underline;
}

/*   MAIN  */

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #cccccc;
    min-height: 150px;
}

.header img.logo-aux {
    margin-top: 3%;
    width: 80px;
    height: 110px;
}

.header img#logo {
    width: 500px;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content p {
    font-size: 14pt;
}

.content img {
    width: 500px;
}

/* FOOTER */

.footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dfdfdf;
    min-height: 150px;
}

/* ATENDIMENTO ============= */

.descricao h4 {
    background-color: #cccccc;
    margin-top: 10px;
    text-align: center;
}

/* TABLE  */

table {
    width: 500px;
    text-align: center;
    margin-top: 15px;
}

table th {
    background-color: rgb(112, 112, 112);
    color: #FFF;
}

table td {
    background-color: #dbdbdb;
}

table tbody tr:nth-child(even) td {
    background-color: #FFF;
}

table tbody tr:hover td {
    font-weight: bold;
    background-color: #808080;
    cursor: pointer;
}

table tfoot td {
    color: #FFF;
    background-color: rgb(112, 112, 112);
}

/* CONTATO */

form {
    margin-bottom: 20px;
}

form p {
    text-align: center;
}

form input:hover, textarea:hover {
    background-color: #cccccc;
}

form textarea{
    width: 250px;
}

form button {
    cursor: pointer;
}